mkdocs
proselint
gitdb2
mkdocs-exclude-search
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-material
mkdocs-section-index
pip-tools
pymdown-extensions
mkdocs-autolinks-plugin
mkdocs-bibtex
mkdocs-newsletter
pydantic<2.0.0
